* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #b5aaa6;
}

img {
  height: 100%;
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.error {
  margin: 0.5rem auto;
  padding: 0.5rem;
  font-size: 1.5vw;
  font-weight: bolder;
  letter-spacing: 2px;
  border: 1px solid #71543c;
  border-radius: 10px;
  text-align: center;
  width: 80%;
}

.d-none {
  display: none;
}

.btn:disabled,
.btn[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.btn:disabled:hover,
.btn[disabled]:hover {
  transform: scale(1);
}

.text-center {
  text-align: center;
}

.loading {
  margin: auto;
  width: 35%;
  height: 35%;
}

.load-up {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1000;
}

/* login */
.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #78685a;
  height: auto;
  padding: 1rem;
  width: 40vw;
  border-radius: 30px;
  color: white;
}

.card-header {
  background-color: #71543c;
  width: 85%;
  padding: 0.3rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1.5vw;
  font-weight: bolder;
}

.form {
  display: flex;
  flex-direction: column;
  width: 65%;
  padding: 0.2rem;
}

.input-login {
  padding: 0.8rem;
  border-radius: 10px;
  border: none;
  outline: none;
  width: 65%;
  margin: 1rem auto;
}

.btn {
  padding: 0.51rem;
  border-radius: 10px;
  border: none;
  outline: none;
  color: white;
  background-color: #71543c;
  font-size: 1.5vw;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.btn:hover {
  opacity: 0.7;
  transform: scale(0.8);
}

/* start  header*/
.header {
  display: flex;
  justify-content: space-between;
  background-color: #78685a;
  color: white;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info p {
  font-weight: bolder;
  letter-spacing: 1px;
}

.user-img {
  width: 6vw;
  height: 6vh;
  margin: 0.9rem;
}

.header .btn {
  height: 20%;
  margin: auto 0.9rem;
  padding: 0.7rem;
  cursor: pointer;
  font-size: 1.3vw;
}
/* end  header*/

/* start course */

.course-card {
  background-color: white;
  margin: 1rem;
  border-radius: 10px;
  height: 35vh;
  width: 15%;
  border: 1px solid #71543c;
}

.course-header {
  width: 100%;
  height: 25%;
}
.course-header img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom: 2px solid rgba(120, 104, 90, 0.1);
}

.course-body {
  height: 30%;
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  font-size: 1.5vw;
}

.course-body .user-img {
  width: 3.5vw;
  height: 3.5vh;
  margin: 0.5rem;
}

.course-footer {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.course-btn {
  width: auto;
  font-size: 1.2vw;
  font-weight: lighter;
  margin: 0.3rem auto;
  padding: 0.5rem;
  border: none;
  outline: none;
}

/*  announcements assignments popup*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(99, 75, 56, 0.8);
  z-index: 1000;
}

.pop-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  width: 50%;
  height: 60%;
  margin: 2rem auto;
  padding: 0.3rem;
  overflow-y: auto;
}
.pop-text {
  margin: 0.7rem;
  padding: 0.8rem;
  border: 1px solid #71543c;
  border-radius: 10px;
}

.popup-close {
  background-color: transparent;
  border: none;
  padding: 0.5rem;
  font-size: 1.8vw;
  cursor: pointer;
}

.assignment-file {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.submit {
  width: 2rem;
  height: 2rem;
  margin: auto 0.5rem;
  transition: all 0.5s ease-in-out;
}

.submit:hover {
  opacity: 0.7;
  transform: scale(1.3);
}

.popup-title {
  text-align: center;
}
/* end announcements assignments popup */

/* student  */
.student-main {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}
/* end student  */
/* Admin */
.admin-container {
  display: flex;
}

.admin-main {
  position: relative;
  width: 85%;
  overflow-y: auto;
}

.left-panel {
  height: 87vh;
  width: 15%;
  background-color: #78685a;
  position: relative;
}
.btn-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.btn-container .btn {
  width: 80%;
  margin: 1rem auto;
}
.btn-logout {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 80%;
  margin: 1rem auto;
}

.admin-course {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* start footer */

.footer {
  padding-top: 0.3rem;
  display: flex;
  justify-content: space-between;
  height: 13vh;
  width: 100%;
  background-color: #78685a;
  color: white;
  margin-top: 5rem;
}

.footer-admin {
  margin: 0;
}

.footer .logo {
  width: 8%;
  height: 50%;
  margin: auto 0.5rem;
  opacity: 0.6;
}

.footer-info {
  margin: auto 0.9rem;
  text-align: center;
}

.footer-info p {
  padding: 0.2rem;
}

.footer-center {
  margin: auto;
  font-size: 2.2vw;
  font-weight: bolder;
  letter-spacing: 2px;
  text-align: center;
}

/* end footer */
